$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'reset';
@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,500,600,700,800,900|Oswald:200,400,500,600');
@import 'carousel';


$green: RGBA(37, 174, 48, 1.00);
$lightgreen: RGBA(15, 243, 4, 1.00);
$blue: RGBA(5, 61, 110, 1.00);
$bg-green: RGBA(37, 174, 48, 0.7);
$bg-blue: RGBA(5, 61, 110, 0.7);
$lightgray: RGBA(211, 211, 211, 1.00);
$main-font: 'Montserrat', sans-serif;

body{
  font-family: 'Montserrat', sans-serif;
}


.skyline-background{
  position: fixed;
  display: block;
  width: 100%;
  min-width: 1350px;
  margin: 0 auto;
  opacity: .5;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 1200px;
    /* margin: 0 auto; */
    // border: 1px solid red;
    /* z-index: 1; */
}



.header {
    display: inline-block;
    background-color: rgba(0, 35, 75, 0.8);
    width: 100%;
    height: 900px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 900px;
    background-color: rgba(0, 87, 175, .7);
    z-index: -1;
  }
  img{
    display: block;
    margin: 0 auto;
    width: 500px;
  }
  .contact-btn-mobile{display: none;}
}

.sell-point-wrapper {
    /* border: 1px solid yellow; */
    text-align: center;
    margin-top: 35px;
}

.sell-point {
    position: relative;
    width: 190px;
    /* border: 1px solid lightgreen; */
    display: inline-block;
    margin-right: 5%;


  h3 {
      font-size: 54pt;
      font-weight: 600;
      margin-bottom: 10px;
      color: white;
  }
  p {
   font-size: 15pt;
   line-height: 27px;
   font-weight: 200;
   color: rgb(193, 193, 193);
  }
  span {
    display: block;
    position: absolute;
    right: -40px;
    top: 0px;
    /* float: right; */
    background-color: #0ff304;
    height: 150px;
    width: 2px;
    transform: rotateZ(26deg);
    z-index: 3;
    #mobile-slash{
      display: none;
    }
}
}

.contact-wrapper {
    // border: 1px solid yellow;
    text-align: center;
    // margin-top: 20px;
    // margin-top: 30px;

    div{
      display: inline-block;
      // width: 200px;
      height: 100px;
      img{
        display: block;
        width: 40px;
        height: 40px;
        }
        p {
        font-family: 'Oswald' , sans-serif;
        letter-spacing: 1px;
        color: white;
        font-size: 11pt;
        margin-top: 20px;
        }
    }
}

.location, .email{
  width: 200px;
}
.office-phone, .fax{
  width: 140px;
}


.body-content{
  // background-color: white;
  // height: 900px;
}

.svg-wrapper {
    position: absolute;
    top: 520px;
    z-index: 2;
    width: 100%;
}

.svg-stripes{
  position: relative;
  z-index: 1;
  width: 100%;
svg{
  filter: drop-shadow(0px 16px 12px #000);
  }
}

.svg-triangle-invert {
    position: absolute;
    top: 0;
    width: 100%;
  svg{
    // filter: drop-shadow(0px 16px 12px #000);
  }
}



.about-tab {
    position: relative;
    // border: 1px solid cyan;
    margin: -130px auto;
    /* z-index: 2; */
    p {
    font-family: Oswald;
    color: rgb(255, 255, 255);
    font-size: 25pt;
    letter-spacing: 2px;
    text-align: center;
    /* margin: 0 auto; */
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    /* border: 1px solid green; */
  }
    .svg-about-tab {
    width: 240px;
    display: block;
    margin: -0 auto;
    /* filter: drop-shadow(0px 5px 3px #000); */
  }
}

.star-wrapper{
  display: inline-block;
  text-align: center;
  z-index: 1;
   img {
     display: inline-block;
     width: 35px;
     height: 50px;
     margin: 0px 31px;
  }
}

.left {
    position: absolute;
    bottom: 80px;
    left: 40px;
    transform: rotateZ(15deg);
}
.right {
    position: absolute;
    bottom: 80px;
    right: 40px;
    transform: rotateZ(-18deg);
}

.about {
  width: 100%;
  text-align: center;
  height: 0px;
  overflow: hidden;
  background-color: #0d2f55;
  display: block;
  position: relative;
  top: 10px;
  /* background-repeat: no-repeat; */
  /* background-size: 40%; */
  /* background-position: right; */
  transition: .3s;

//   .svg-about-tab-base{
//     z-index: 5;
//     position: absolute;
//     width: 220px;
//     height: 190px;
// }
   div {
    //  border: 1px solid white;
     position: relative;
     margin-left: 0px;
     top: 180px;
     display: inline-block;
     /* justify-content: center; */
     /* border-right: 1px solid; */
    &:before {
      content: '';
      width: 1px;
      height: 280px;
      background-color: lightgray;
      position: absolute;
      top: -90px;
      right: -30px;
      bottom: 0;
  }
    p:nth-of-type(1) {
      color: #ffffff;
      text-align: right;
      font-size: 7pt;
    }
    p:nth-of-type(2) {
      color: white;
      text-align: right;
      font-size: 18pt;
    }
    p:nth-of-type(3) {
      color: white;
      text-align: right;
    }
  }
}

.about-txt {
  // border: 1px solid yellow;
  color: white;
  text-align: left;
  position: relative;
  top: 260px;
  // text-align: center;
  width: 550px;
  display: inline-block;
  font-weight: 100;
  line-height: 22px;
  margin-left: 60px;
  }

.bounce-class{
  animation: bounce 1s infinite alternate;
  z-index: 2;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.services{
  height: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1.75), rgba(255, 0, 0, 0) 40.71%);
  background: -webkit-linear-gradient(top,rgba(255,0,0,0),transparent);
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.82));
  // border: 1px solid yellow;
}

.services .svg-about-tab-base-desktop {
  display: inline-block;
}
.services .svg-about-tab-base {
  display: none;
}

.services .svg-about-tab-base, .services .svg-about-tab-base-desktop {
    // display: inline-block;
    position: absolute;
    // top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 240px;
    z-index: 1;
}

.services-description {
    position: relative;
    width: 100%;
    height: 840px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1.75), rgba(255, 0, 0, 0) 79.71%);
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.82));
    text-align: center;
      h1 {
      font-size: 42pt;
      font-weight: 500;
      color: rgb(15, 42, 72);
      position: relative;
      display: inline-block;
      margin-top: 300px;
      background-color: lightgrey;
      padding: 15px 25px;
      z-index: 1;
    }
      p {
      font-size: 12pt;
      /* font-weight: 500; */
      color: rgb(15, 42, 72);
      line-height: 25px;
      width: 54%;
      margin: 50px auto;
        &:before {
          content: '';
          position: absolute;
          top: -12px;
          bottom: 0;
          left: -35px;
          right: 0;
          margin: auto;
          height: 330px;
          width: 720px;
          border: 9px solid rgb(255, 255, 255);
          box-shadow: 0px 10px 18px 10px rgba(0, 0, 0, 0.7);
          /* background-color: #0f2a48; */
          /* z-index: -1; */
        }
    }
}

.service-container {
  display: inline-block;
  position: relative;
  top: -95px;
  width: 295px;
  height: 560px;
  text-align: center;
  overflow: hidden;
  z-index: 3;
  margin-left: 6%;


      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(9, 44, 82, 0.9);
        box-shadow: inset 0px -10px 18px 10px rgba(0, 0, 0, 0.4);
        /* opacity: .7; */
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $lightgreen;
        height: 10px;
        /* opacity: .7; */
      }
      div {
      position: absolute;
      top: 30px;
      right: 0;
      left: 0;
      margin: auto;
      width: 90%;
      // border: 1px solid yellow;

      img {
        height: 200px;
        width: 200px;
        opacity: 1;
        }
        h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 26pt;
        letter-spacing: 1px;
        color: white;
        position: relative;

          &:before {
          content: '';
          position: absolute;
          top: 95px;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 50px;
          height: 5px;
          background-color: rgb(166, 165, 165);
          }
        }
        p {
          margin: 70px auto 0 auto;
          color: white;
          width: 240px;
          font-size: 10pt;
          font-weight: 200;
          line-height: 20px;
      }
    }
    img:nth-of-type(2){
      position: absolute;
      height: 100px;
      width: 100px;
      opacity: 1;
    }
}

.mobile-slide {
  display: inline-block;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-weight: bold;
    background: rgba(9, 12, 106, 0.9);
    position: relative;
  p:nth-of-type(1){
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  p:nth-of-type(2){
    margin-top: 45px;
    font-size: 21px;
    color: $neon-green;
  }
  position: relative;
  p:nth-of-type(3){
    margin-top: 30px;
  }
  position: relative;
  p:nth-of-type(4){
    position: absolute;
    bottom: 15px;
    margin: auto;
    right: 0;
    left: 0;
    color: $neon-green;
    font-size: 22px;
  }
}

.what-we-buy-mobile {
  display: none;
  overflow: hidden;
  width: 185px;
  height: 250px;
  margin: 0 auto;
   .slide-container {
    width: 2024px;
    position: relative;
    left: 0px;
    transition: .3s;
  }
}

.slideshow-buttons {
  text-align: center;
  margin-top:10px;
  button {
    border: 1px solid white;
    font-size: 20px;
    width: 87px;
    background: transparent;
    color: white;

  }
}

footer{
  margin-top: 10px;
  .footer-contact-wrapper {
    width: 100%;
    text-align: center;
    background-color: white;
    height: 140px;
    div {
      display: inline-block;
      width: 218px;
      margin-top: 20px;
      color: blue;
      }
      p {
        color: #073d6c;
        text-align: center;
        margin: 0;
        font-family: 'Oswald';
        letter-spacing: 0px;
      }
      img {
        height: 40px;
        display: inline-block;
        margin: 10px auto;
      }
      a {
        text-align: center;
        text-decoration: none;
        }
      .footer-logo{
          display: inline-block;
          overflow: hidden;

          img{
            display: none;
          }
      }
    }
  .copyright-bar{
    color: rgba(255, 255, 255, 0.8);
    background-color: #404040;
    text-align: center;
    p {
      display: inline-block;
    padding: 10px 20px;
    font-weight: 100;
    }
  }
}

.footer-symbol{
  display: inline-block;
  position: absolute;
}


@import 'mid-width-1100px';
