@media (max-width: 450px) {



body{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x: hidden;
  // overflow-x: hidden;
}


.skyline-background{
  position: fixed;
  right: -130px;
  display: block;
  width: 303%;
  margin: 0 auto;
  opacity: .5;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 102%;
    /* margin: 0 auto; */
    // border: 1px solid red;
    /* z-index: 1; */
}



.header {
    display: inline-block;
    background-color: rgba(0, 35, 75, 0.8);
    width: 100%;
    height: 655px;
    overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 660px;
    background-color: rgba(0, 87, 175, .7);
    z-index: -1;
  }
  img{
    display: block;
    margin: 0 auto;
    width: 250px;
  }
  .contact-btn-mobile{
    display: block;
    width: 31%;
    height: 60px;
    margin: 0 auto;
    p {
      text-align: center;
      color: white;
      margin: 22px auto 0 auto;
      font-weight: 100;
    }
    svg {
      width: 100%;
    }
  }
}

.sell-point-wrapper {
    /* border: 1px solid yellow; */
    text-align: center;
    margin-top: 24px;
}

.sell-point {
  position: relative;
  width: 140px;
  /* border: 1px solid lightgreen; */
  display: inline-block;
  margin-right: 5%;
  margin-bottom: 35px;


  h3 {
    font-size: 37pt;
    font-weight: 600;
    margin-bottom: 23px;
    color: white;
  }
  p {
    font-size: 10pt;
     line-height: 22px;
     font-weight: 200;
     color: #c1c1c1;
  }
  span {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 28px;
    /* float: right; */
    background-color: #0ff304;
    height: 62px;
    width: 2px;
    transform: rotateZ(90deg);
  }
  #mobile-slash{
    display: block;
  }
}

.contact-wrapper {
  text-align: center;
  margin-top: 5px;
  background-color: #05264a;
  height: 0px;
  overflow: hidden;
  transition: .2s;
  // height: 340px;

    div{
      display: block;
      height: 80px;
      margin: 0 auto;
      img{
        display: block;
        width: 25px;
        height: 25px;
        }
        p {
        font-family: 'Oswald' , sans-serif;
        letter-spacing: 1px;
        color: white;
        font-size: 7pt;
        margin-top: 20px;
        }
    }
}

.location, .email{
  width: 150px;
  padding-top: 10px;
}
.office-phone, .fax{
  width: 140px;
}


.body-content{
  // background-color: white;
  // height: 900px;
}

.svg-wrapper {
    position: absolute;
    top: 510px;
    z-index: 2;
    width: 100%;
}

.svg-stripes{
  position: relative;
  z-index: 1;
  width: 100%;
svg{
  filter: drop-shadow(0px 16px 12px #000);
  }
}

.svg-triangle-invert {
    position: absolute;
    top: 0;
    width: 100%;
  svg{
    filter: drop-shadow(0px 16px 12px #000);
  }
}

.about-tab {
    position: relative;
    // border: 1px solid cyan;
    margin: -101px auto;
    /* z-index: 2; */
    p {
    font-family: Oswald;
    color: rgb(255, 255, 255);
    font-size: 25pt;
    letter-spacing: 2px;
    text-align: center;
    /* margin: 0 auto; */
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    /* border: 1px solid green; */
  }
    .svg-about-tab {
    width: 140px;
    display: block;
    margin: 46px auto;
    /* filter: drop-shadow(0px 5px 3px #000); */
  }
}

.star-wrapper{
  display: inline-block;
  text-align: center;
  z-index: 1;
   img {
     display: inline-block;
     width: 20px;
     height: 50px;
     margin: 0px 5px;
  }
}

.left {
    position: absolute;
    bottom: 40px;
    left: 20px;
    transform: rotateZ(15deg);
}
.right {
    position: absolute;
    bottom: 40px;
    right: 20px;
    transform: rotateZ(-18deg);
}

.about {
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: #0d2f55;
  display: block;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
  transition: .3s;

//   .svg-about-tab-base{
//     z-index: 5;
//     position: absolute;
//     width: 220px;
//     height: 190px;
// }
   div {
     position: relative;
    margin-left: -38px;
    margin-top: 280px;
    width: 105px;
    text-align: right;
    display: inline-block;
    flex-direction: initial;
    justify-content: initial;
    &:before {
      content: '';
      width: 1px;
      height: 380px;
      background-color: lightgray;
      position: absolute;
      top: -134px;
      right: -18px;
      bottom: 0;
  }
    p:nth-of-type(1) {
      color: #ffffff;
      text-align: right;
      font-size: 7pt;
    }
    p:nth-of-type(2) {
      color: white;
      text-align: right;
      font-size: 15pt;
    }
    p:nth-of-type(3) {
      color: white;
      text-align: right;
    }
  }
}

.about-txt {
    color: white;
    /* text-align: center; */
    width: 195px;
    display: inline-block;
    float: right;
    flex-direction: initial;
    justify-content: initial;
    font-weight: 100;
    line-height: 21px;
    margin-left: -20px;
    margin-right: 65px;
    margin-top: 145px;
    font-size: 9pt;
  }

.bounce-class{
  animation: bounce 1s infinite alternate;
  z-index: 2;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.services{
  height: 100%;
  position: relative;
  top: -2px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1.75), rgba(255, 0, 0, 0) 40.71%);
  text-align: center;
}

// .services > img {
//   display: block;
//   position: absolute;
//   top: -105px;
//   left: 0;
//   right: 0;
//   margin: auto;
//   width: 190px;
//   z-index: 1;
// }

.svg-about-tab-base {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
  z-index: 1;
}

.services-description {
    position: relative;
    width: 100%;
    height: 880px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1.75), rgba(255, 0, 0, 0) 79.71%);
    text-align: center;
      h1 {
      font-size: 28pt;
      font-weight: 500;
      color: rgb(15, 42, 72);
      position: relative;
      display: inline-block;
      margin-top: 200px;
      background-color: lightgrey;
      padding: 15px 25px;
      z-index: 1;
    }
      p {
        font-size: 12pt;
      /* font-weight: 500; */
      color: #0f2a48;
      line-height: 25px;
      width: 72%;
      margin: 50px auto;
        &:before {
          content: '';
          position: absolute;
          top: 30px;
          bottom: 0;
          left: -20px;
          right: 0;
          margin: auto 0;
          height: 490px;
          width: 114%;
          border: 9px solid white;
        box-shadow: 0px 10px 18px 10px rgba(0, 0, 0, 0.7);
        }
    }
}

.service-container {
  display: inline-block;
  position: relative;
  top: -75px;
  width: 300px;
  height: 560px;
  text-align: center;
  overflow: hidden;
  z-index: 3;
  margin-bottom: 30px;


      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(9, 44, 82, 0.9);
        box-shadow: inset 0px -10px 18px 10px rgba(0, 0, 0, 0.4);
        /* opacity: .7; */
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $lightgreen;
        height: 10px;
        /* opacity: .7; */
      }
      div {
      position: absolute;
      top: 30px;
      right: 0;
      left: 0;
      margin: auto;
      width: 90%;
      // border: 1px solid yellow;

      img {
        height: 200px;
        width: 200px;
        opacity: 1;
        }
        h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 26pt;
        letter-spacing: 1px;
        color: white;
        position: relative;

          &:before {
          content: '';
          position: absolute;
          top: 95px;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 50px;
          height: 5px;
          background-color: rgb(166, 165, 165);
          }
        }
        p {
          margin: 70px auto 0 auto;
          color: white;
          width: 240px;
          font-size: 10pt;
          font-weight: 200;
          line-height: 20px;
      }
    }
    img:nth-of-type(2){
      position: absolute;
      height: 100px;
      width: 100px;
      opacity: 1;
    }
}

.what-we-buy {
  display: none;
}

.what-we-buy-mobile {
    height: 400px;
    padding-top: 90px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      background-color: rgba(0, 87, 175, 0.7);

    }

  h1 {
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 1;
    position: absolute;
    top: 28px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: RGBA(15, 243, 4, 1);
    width: 170px;
    padding: 15px 5px 15px 8px;

  &:after{
    content: '';
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 30px solid RGBA(15, 243, 4, 1);
    }
  }
}

// CLOSE MEDIA QUERIE
}
